<head>
  <meta charset="UTF-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title == "Home" %} {{ site.title }} {% else %} {{ page.title }} | {{ site.title }} {%
    endif %}
  </title>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"
  />
  <link rel="stylesheet" href="/assets/css/poole.css" />
  <link rel="stylesheet" href="/assets/css/syntax.css" />
  <link rel="stylesheet" href="/assets/css/hyde.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <!-- Icons -->
  <!-- <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="/assets/apple-touch-icon-144-precomposed.png"
  />
  <link rel="shortcut icon" href="/assets/favicon.ico" /> -->

  {% feed_meta %} {% seo %}
</head>
