/* Only show the profile photo in the sidebar on larger devices */
.head-shot-container {
  display: none;
}
@media (min-width: 48em) and (min-height: 48em) {
  .head-shot-container {
    display: inherit;
  }
}

.sidebar {
  overflow-x: scroll;
}

.sidebar > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Pull some elements to bottom of sidebar */
.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 0px;
}
